/* Morick Clive's CSS template  */
html, body {
	background: #f1f1f1;
	margin:0;
	padding:0;
    /* Set a specific height */
    height: 150px;
    /* prevents scroll bar from influencing elements */
    width: 100vw;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover 150%;
}

/* start */
nav{
	background: #000;
	margin: 0px 0px 30px 0px;
}

nav .cover{
  background-image:url("../res/Background.png");
    /* Set a specific height */
    height: 150px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;

    /* content aligns vertical */
   	display: flex;
  	align-items: center;
}

section div p {
    padding-left: 20px;
    }

.cover p{
	padding-left: 80px;
	color: white;
	text-align: left;
  	text-decoration : none;  	
  	font-weight: bold;
  	font-size: 3em;
  	cursor: pointer;
}

.main-nav {
  display: -webkit-flex;
  display: inline-flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.main-nav li{
	list-style: none;
}

.main-nav li:first-child {
  display: inline-flex;
  padding: 0px 50px 0px 50px;
}
.main-nav li:first-child:hover {
}

.main-nav a {
  margin: 10px;
  background: #60B99A;
  color: white;
  text-decoration : none;
  font-weight: bold;
  font-size: large;
  display: inline-block;
  padding: 15px;
}

.main-nav a:hover {
  background: #a3d7c4;
  color: #fff;
  text-decoration : none;
  font-weight: bold;
  display: inline-block;
}

.main-nav .logo {
  background-image:url("../res/Icon.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-color: rgba(204, 204, 204, 0.25);
  border: solid rgba(204, 204, 204, 0.75);
  border-radius: 15px;
  width: 4.5em;
  height: 4.5em;
}

.main-nav .logo:hover {
  background-image:url("../res/Icon.png");
  background-repeat:no-repeat;
  background-size:contain;
  background-color: rgba(204, 204, 204, 0.50);
  border-radius: 15px;
}

/* The body formatting  */
.bodymain {
	margin: auto auto;
    width: 80%;
    border-radius: 3px;
    background: #fff;
	box-shadow: 0 1px 4px rgba(0,0,0,.1);
	/* padding for body content  */
	padding: 30px;
}

.bodymain .center{
	text-align:center;
}

.bodymain hr {
    display: block;
    background: #eee;
    border: 0;
    height: 5px;
    margin: 1em auto;
    width: 50%;
}

.bodymain h1{
	font-size: 1.5em;
}

.bodymain h2{
	font-size: 1.40em;
}

.bodymain h3{
	font-size: 1.30em;
}
.bodymain h3{
	font-size: 1.20em;
}

table, th, td  .grid{
    border: 1px solid black;
}

.projectCard {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    max-width: 750px;
    margin-left: 5em;
}

.projectCardBody {
    width: 700px;
    height: 220px;
}

.projectCardImg {
    float: left;
    width: "346";
    height: "202";
    padding-right: 5px;
    padding-left: 5px;
    border: 1px solid #eee;
    box-sizing: border-box;
    margin-left: 20px;
    padding-top: 5px;
    margin-right: 20px;
}
/* Morick Clive's CSS template - please request permission before use.  */